<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Batesburg-Leesville</title>

  <meta http-equiv='X-UA-Compatible' content='IE=Edge'>

  <% if (this.settings.env === 'production') { %>
    <link rel='stylesheet' href='/css/app.min.css'>
  <% } else { %>
    <link rel='stylesheet' href='/css/bootstrap.css'>
    <link rel='stylesheet' href='/css/bootstrap-responsive.css'>
    <link rel='stylesheet' href='/css/font-awesome.css'>
  <% } %>

</head>
<body>
  <div class='container'>

    <div class='navbar'>
      <div class='navbar-inner'>
        <a class='brand' href='/'>Batesburg-Leesville</a>
        <ul class='nav'>
          <li class='<% if (this.req.url === '/entities/tagged/food') { %>active<% } %>'>
            <a href='/entities/tagged/food'>Restaurants</a>
          </li>
          <li class='<% if (this.req.url === '/entities/tagged/church') { %>active<% } %>'>
            <a href='/entities/tagged/church'>Churches</a>
          </li>
          <li class='<% if (this.req.url === '/entities/tagged/school') { %>active<% } %>'>
            <a href='/entities/tagged/school'>Schools</a>
          </li>
        </ul>
        <ul class='nav pull-right'>
          <% if (this.user) { %>
            <li><a href='#' data-signout>Sign Out</a></li>
          <% } else { %>
            <li><a href='#' data-signin>Sign In</a></li>
          <% } %>
        </ul>
      </div>
    </div>

    <%= this.content %>
  </div>

  <script src='https://login.persona.org/include.js'></script>

  <% if (this.settings.env === 'production') { %>
    <script src='/js/vendor.min.js'></script>
    <script src='/js/home.min.js'></script>
  <% } else { %>
    <script src='/js/vendor/jquery.js'></script>
    <script src='/js/vendor/underscore.js'></script>
    <script src='/js/vendor/backbone.js'></script>
    <script src='/js/vendor/bootstrap.js'></script>
    <script src='/js/vendor/require.js'></script>
    <script>
      require.config({
        urlArgs: '_=' + (+new Date),
        baseUrl: '/js/'
      });
    </script>
  <% } %>

  <script>
    require(['app'], function(App) {
      new App({
        el: 'body',
        email: <%= this.stringify(this.user && this.user.email || null) %>
      }).render();
    });
  </script>
</body>
</html>
