<img class='banner' src='/img/poultry-festival-banner.jpg'>

<div class='container pam'>

  <p class='alert alert-error'>
    <i class='icon-warning-sign'></i>
    <strong>This is still in beta (not fully tested)!</strong>
    This site is still a work in progress and will probably be updated rapidly
    and without much warning.  In the meantime, please take a look around and
    email <a href='mailto:support@batesburg-leesville.com'>support@batesburg-leesville.com</a>
    any suggestions you might have.
  </p>

  <div class='row'>
    <div class='span9'>
      <h1>Welcome</h1>
      <p>
        Nice to see you!
      </p>
    </div>
    <div class='span3'>
      <a class='twitter-timeline' href='https://twitter.com/BLeesville' data-widget-id='325713560166596608'>Tweets by @BLeesville</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');</script>
    </div>
  </div>

</div>
