<div class='container pam'>

  <p>
    <a class='btn' href='<%- this.entity.url() %>'>
      <i class='icon-arrow-left'></i>
      Back
    </a>
  </p>

  <form class='well' method='post' action='/entities/<%- this.entity.id %>'>
    <div class='row'>

      <div class='span3'>
        <label for='name'>Name</label>
        <input required type='text' id='name' name='name' value='<%- this.entity.name %>' maxlength='50'>

        <label for='phone'>Phone</label>
        <input type='tel' id='phone' name='phone' value='<%- this.entity.phone %>' maxlength='20'>

        <label for='tags'>Tags</label>
        <input type='text' id='tags' name='tags' value='<%- this.entity.tags.join(', ') %>'>

        <label for='street'>Street</label>
        <input type='text' id='street' name='street' value='<%- this.entity.street %>' maxlength='250'>

        <label for='city'>City</label>
        <input type='text' id='city' name='city' value='<%- this.entity.city %>' maxlength='100'>

        <label for='zip'>Zip</label>
        <input type='text' id='zip' name='zip' value='<%- this.entity.zip %>' maxlength='10'>
      </div>

      <div class='span4'>
        <label for='description'>Description</label>
        <textarea class='span4' rows='10' id='description' name='description' maxlength='5000'><%- this.entity.description %></textarea>
      </div>

    </div>

    <button type='submit' class='btn'>
      <i class='icon-save'></i>
      Save
    </button>

  </form>

  <!--

  <form id='upload' action='http://api2.transloadit.com/assemblies' enctype='multipart/form-data' method='POST'>
    <input type='hidden' name='params' value='<%- JSON.stringify({
      auth: {key: '6ec392b578a24a6f8883517356c14354'},
      template_id: 'eefc92546e45494cb44e864c09b5b513',
      redirect_url: process.env.AUDIENCE + '/entities/' + this.entity.id + '/photos/upload'
    }) %>'>
    <input type='file' name='file'>
    <button class='btn' type='submit'>
      <i class='icon-upload-alt'></i>
      Upload
    </button>
  </form>

  <script src='//assets.transloadit.com/js/jquery.transloadit2-latest.js'></script>
  <script>
    jQuery(function($) {
      $('#upload').transloadit({
        wait: true
      });
    });
  </script>

  -->

</div>
