<% if (this.user && this.user.id === this.entity.owner_id) { %>
  <a href='/entities/<%- this.entity.id %>/edit' class='pull-right'>
    <small>edit</small>
  </a>
<% } %>

<h1><%- this.entity.name %></h1>

<div class='row'>
  <div class='span4'>
    <% if (this.entity.phone) { %>
      <span class='muted'>Phone:</span>&nbsp;<%- this.entity.phone %>
    <% } %>
  </div>
  <div class='span8'>
    <% if (this.entity.description) { %>
      <p><%- this.entity.description %></p>
    <% } %>
  </div>
</div>
